[submodule "themes/kiera-github"]
	path = themes/kiera-github
	url = https://github.com/jgornick/hugo-kiera-github.git
[submodule "public"]
	path = public
	url = git@github.com:jgornick/jgornick.github.com.git
	branch = master
